body {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.more:after {
	content:  " >";
}

.btn.primary {
	background: #444;
	padding: 8px 12px;
	color:  #fff;
}

.btn.secondary {
	background: #9f9f9f;
	padding: 8px 12px;
	color:  black;
}