/*
 * Standardized input & form form styling for this theme
 */

input, textarea {
  	-webkit-appearance: none;  // remove shadow in iOS
  	@include border-radius(0);  // remove border-radius in iOS
 	box-shadow: none !important;
 	border: 1px solid $black;
  	max-width: 100%;
  	padding-left: 8px;

}

input[type="submit"] {
	color: $white;
	background: $primarycolor;
	border: none;
	border-radius: 5px;
	padding: 5px 15px;

	&:hover,
	&:focus,
	&:active {
		background-color: $black;
	}
}

/*
 * Formidable Pro styling
 */

.frm_style_formidable-style.with_frm_style { 
	.frm_form_fields {
		.frm_form_field {
			label.frm_primary_label {
				color: $textcolor !important;
				font-family: $bodyfont !important; 
				font-weight:normal !important;
			}
			input:not([type=radio]):not([type=checkbox]):not([type=file]), 
			textarea {
				background-color: lighten($black, 98%);
				@include border-radius(0);
				border: none;
				&:focus {
					background-color: lighten($black, 95%);
				}
			}
		}

		.frm_submit button{
			background-color: $steunkleur;
			@include border-radius(0);
			border: none;
			color: $white;
			box-shadow: none;
			text-transform: uppercase;
			padding: 10px 25px;
			float: right;

			&:hover {
				background-color: lighten($steunkleur, 25%);
			}
		}
	}
}

#footer {
	.frm_style_formidable-style.with_frm_style { 
		.frm_form_fields {
			.frm_form_field {
				label.frm_primary_label {
					color: $white !important;
					font-family: $bodyfont !important; 
					font-weight: normal !important;
				}
				input:not([type=radio]):not([type=checkbox]):not([type=file]), 
				textarea {
					background-color: lighten($black, 95%);
					@include border-radius(0);
					border: none;
					&:focus {
						background-color: lighten($black, 98%);
					}
				}
				.frm_dropzone {
					text-transform: uppercase !important;
					background: none;
					.fallback {
						max-width: 100%;
						text-transform: uppercase !important;

						input {
							max-width: 100% !important;
							color: $textcolor;
							text-transform: uppercase !important;
						}
					}
				}
			}

			.frm_submit {
				clear: none;
				button{
					margin-top: 0px;
					background-color: $steunkleur;
					@include border-radius(0);
					color: $primarycolor;
					border: none;
					color: $white;
					font-weight: 600;
					box-shadow: none;
					text-transform: uppercase;
					padding: 10px 25px;
					float: right;

					&:hover {
						background-color: darken($steunkleur, 10%);
					}
				}
			}
		}
	}
}

/* 
 * Stanbdard WP searchform 
 */
.search-form {
	input {
 	-webkit-appearance: none;  // remove shadow in iOS
	@include border-radius(0);  // remove border-radius in iOS
 	box-shadow: none !important;}
}


.search-form  {
	input[type="search"] {
		border: 1px solid $secondarycolor;
		padding: 5px 0px 5px 10px;
		max-height: 35px;
		width: calc(100% - 60px);
		float: left;

		&:focus {
			border: 1px solid $primarycolor;
			outline: 0;
		}
	}

	.search-submit {
		border: 1px solid $primarycolor;
		background: $primarycolor;
		color: $white;
		width: 40px;
		height: 42px;
		margin-left: -5px;
		margin-top: 0px;
		transition: all ease-in-out 125ms;

		&:focus {
			border: 1px solid $primarycolor;
			outline: 0;
		}

		&:hover {
			background: $secondarycolor;
			border: 1px solid $secondarycolor;

		}
			
		&:after {
			font-family: "Ionicons";
			content: "\f21f";
			font-size: 18px;
			left: 3px;
			line-height: 30px;
			width: 35px;
			color: $white;
		}


		.search-text {
			height: 1px;
			overflow: hidden;
			width: 1px;
			display: block;
		}
	}
}