@import "assets/css/bootstrap";
@import "assets/css/flexslider";
@import "assets/css/fancybox3";

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
} 

$primarycolor: #004445;
$secondarycolor: #2C7873;
$steunkleur: #6FB98F;
$white: #fff;
$black: #000;

$textcolor: #021C1E;
$linkcolor: $steunkleur;

$titlefont: 'Open Sans', sans-serif;
$bodyfont: 'Open Sans', sans-serif;


// Template parts (after variables above)
@import "assets/css/forms";


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

::-moz-selection { 
	background: $linkcolor;
	color: $white; 
}
::selection { 
	background: $linkcolor; 
	color: $white;
}


body {
	background: $white;
	font-family: $bodyfont;
	-webkit-font-smoothing: antialiased;
	font-size: 14px;
	line-height: 28px;
	font-weight: 400;
	font-size: 16px;
	word-wrap: break-word;
}
em {
    font-weight: 400;
}
p {
	margin: 0 0 15px 0;
	color: $textcolor;

	&.meta {
		color: lighten($textcolor, 20%);
		font-size: 13px;
		margin: 0 0 20px 0;
		font-weight: 700;
		
		a { 
			color: $textcolor
			
			&:hover { 
				color: $linkcolor; 
			}
			
		}
	}
}

strong { font-weight: bold; }

a {
	color: $linkcolor;
	text-decoration: none;

	&:hover,
	&:active,
	&:focus  {
		color: darken($linkcolor, 5%);
		text-decoration: underline;
	}

}

.search-highlight {
	background-color: $linkcolor;
	color: $white;
}

img {
	display: inline-block;
    height: auto;
    max-width: 100%;

    &.alignleft {
    	float: left;
    	margin-right: 15px;
    }

	&.aligncenter {
		display: block;
	    margin-left: auto;
  		margin-right: auto;
	}

    &.alignright {
    	float: right;
    	margin-left: 15px;
    }
}

ul {
	list-style-type: none;
	padding: 0px;
	margin-left: 0px;
}

.wp-caption {
	text-align: center;
	&.alignleft {
		float: left;
		margin-right: 30px;
	}
	&.aligncenter {
    	margin-left: auto;
    	margin-right: auto;
    }
    &.alignright {
    	float: right;
    	margin-left: 30px;
    }
}

figure {
	&.thumb {
		float: left;
		margin-right: 20px;
	}
}

.gallery {
	.gallery-item {
		.gallery-icon {
			margin-bottom: 10px;
			a img{
				border: none !important;
				opacity: 1;
				transition: all ease-in-out 125ms;

				&:hover {
					opacity: 0.9;
				}
			}
		}
	}
}
#comments {
	ol {
		list-style-type: none;
		margin: 0; 
		padding: 0;

		li {
			&.comment {
				&.depth-2,&.depth-3, &.depth-4, &.depth-5 {
					margin-left: 3%;
				}

				.comment-body {
				    box-sizing: border-box;
				    background: darken($white, 5%);
				    clear: both;
				    float: left;
				    margin-bottom: 30px;
				    padding-bottom: 30px;
				    position: relative;
				    padding: 30px 30px 50px 30px;
				    width: 100%;
					.comment-meta {
						.comment-author {
							img {
								@include border-radius(200px);
								float: left; 
								margin-right: 20px;
							}
						}
						.comment-metadata {
							bottom: 30px;
						    font-size: 12px;
						    position: absolute;
						    left: 30px;
						    font-weight: 700;
						}
					}
					.comment-content {
						box-sizing: border-box;
					    float: left;
					    margin-top: -20px;
					    padding-left: 80px;
					    width: 100%;

					    p {
					    	margin: 0 0 30px 0;
					    }
					}
					.reply {
					    bottom: 30px;
					    font-size: 12px;
					    position: absolute;
					    right: 30px;
						a {
							position: relative;
    						font-weight: 700;

							&:before {
								font-family: "Ionicons";
								content: "\f4c7  ";
							}
						}
					}
				}
			}
		}
	}
}



	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: $textcolor;
		font-family: $titlefont;
		font-weight: 300;
	}

	h1 { 
		font-size: 44px;
		margin: 0 0 30px 0;
		line-height: 1;

	}
	
	h2 { 
		font-size: 34px;
		margin: 0 0 15px 0;		
	}
	
	h3 { 
		font-size: 20px; 
		margin: 0 0 15px 0;		
	}
	
	h4 { 
		font-size: 18px;
		margin: 0 0 24px 0;		
	}
	
	h5 { 
		font-size: 16px;
		font-weight: bold;
		margin: 0 0 24px 0;
	}

	h6 { 
		font-size: 14px;
		font-weight: bold;
		margin: 0 0 24px 0;		
	}


.btn {
	padding: 5px 15px;
	color: $white;
	text-decoration: none;
	display: inline-block;
	transition: all ease-in-out 125ms;

	&.primary {
		background: $primarycolor;

		&:hover,
		&:active,
		&:focus {
			color: $white;
			background: lighten($primarycolor, 15%);
			text-decoration: none;
		}
	}

	&.secondary {
		background: $steunkleur;

		&:hover,
		&:active,
		&:focus  {
			color: $white;
			background: $secondarycolor;
			text-decoration: none;
		}
	}
}

.more {

	&:after {
		content: "»";
	}

	&:hover,
	&:focus,
	&:active {
		text-decoration: underline;
	}
}

.back-link {
	&:before {
		content: "«";
	}
}



blockquote {
	border-left: $steunkleur 5px solid;
	padding: 10px 0px 10px 20px;
	margin: 20px 15px 20px 30px;

	p {
		color: lighten($black, 40%);
		margin: 0px;
	}		
}

#masthead {
	padding: 10px 0px;
	background: $white;
	box-shadow: 0px 0px 5px fade-out($black, 0.8);
	position: relative;
	z-index: 1;

	.site-title {
		a {
			font-size: 36px;
			font-weight: 700;
			color: $steunkleur;

			&:hover,
			&:focus,
			&:active{ text-decoration: none; }
		}        
	}

	.contact {
		color: $steunkleur;
		padding-top: 0px;
		text-align: right;
		font-size: 22px;
        font-weight: 400;
	}

}

.header {
	height: 300px;
	background-position: center center !important;
	background-size: cover !important;
    position: relative;
    z-index: 0;
}

.home-header {
	height: 500px;
	background-position: center center !important;
	background-size: cover !important;
	display: flex;
	align-items: center;
    z-index: 0;

	.header_content {
		width: 60%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
  		justify-content: center;
	}
    
    .actie-titel {
        background-color: transparentize($secondarycolor, 0.2);
        display: inline-block;
        color: $white;
        padding: 20px 30px;
        font-size: 2em;
        font-weight: 100;
    }
    .actie-tekst {
        margin-top: 20px;
        background-color: transparentize($white, 0.2);
        display: flex;
        padding: 20px 30px;
        margin-bottom: 30px;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        
        .tekst {
            display: inline-block;
            width: 75%;
        }
        .button {
            float: right;
            display: inline-block;
            text-align: center;
            width: 25%;
            
            a {
                background-color: transparentize($secondarycolor, 0.2);
                border-radius: 100%;
                display: inline-block;
                border: 1px solid $white;
                text-align: center;
                margin: 5px;
                color: $white;
                line-height: 1;
                height: 100px;
                width: 100px;
                height: 100px;
                padding-top: 35px;
                
                &:hover {
                    background-color: $primarycolor;
                    text-decoration: none;
                }
            }
        }
    }
}

#frontslide {
	height: 600px;
	background: none;
	@include border-radius(0px);
	border: none;
	margin-bottom: 0px;

	.slides{
		height: 600px;

		li {
			height: 600px;
			background-size: cover !important;
			background-position: center center !important;
		}
	}

	.flex-direction-nav a,
	.flex-direction-nav a {
		display: block; /* I added this line */
	}

	.flex-direction-nav a:before {
	    font-size: 35px;
	    color: $white;
	    text-shadow:  none;
	}

	.flex-direction-nav .flex-next { right: 0 !important; margin-right: 40px; opacity: 1 !important; }
	.flex-direction-nav .flex-prev { left: 0 !important; opacity: 1 !important; margin-left: 40px; }
	.flexslider { width: 100%; margin: 0 auto; }

	.flex-control-nav {
		display: none;
	}
}










.services {
	background: $steunkleur;
	position: relative;
	padding: 60px 0px;
    
    
    .services-circle {
        
        .service {
            
            margin-bottom: 20px;
            
            width: 100%;
            border-radius: 100%;
            
            height: 0;
            padding-bottom: 100%;
            position: relative;
            
            overflow: hidden;
            
            background-size: cover !important;
            background-position: center center !important;
            
            transition: all .3s;
            
            &:hover,
            &:focus,
            &:active {
                .service-contents-wrapper {
                    opacity: 1;
                    transform: rotate(-3deg);
                    
                }
                
                transform: rotate(3deg);
                
            }
            
            
            
            .service-contents-wrapper {
                background-color: transparentize($secondarycolor, .2);
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transition: all .3s;
                padding: 10px;
                
                text-align: center;
                
                h3, p {
                    color: $white;
                }
                h3 {
                    font-weight: bold;
                    margin: 0;
                    
                }
                
                .service-contents {
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            a.overlay-link {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
        
    }


	.services-list {
		display: flex;
		justify-content: space-between;

		.widget {
			max-width: 23%;
			display: flex;
			flex: 1;
			flex-wrap: wrap;
			text-align: center;
			border: 1px solid $white;
            border-radius: 100%;
            
            background-size: cover !important;
            background-position: center center !important;
            
            transition: all 0.2s;
            &:nth-child(even):hover {
                transform: rotate(-2deg);
            }
            &:nth-child(odd):hover {
                transform: rotate(2deg);
            }
            
            .widget-contents {
                padding: 20px;
                
                transition: all 0.2s;
                p, a,h3 {
                    color: transparent !important;
                }
            }
            
            &:hover,
            &:focus,
            &:active {
                .widget-contents {
                background-color: transparentize($steunkleur, 0.2);
                
                    p,a,h3{
                        color: $white !important;
                    }
                }
            }

			.widgettitle {
				font-weight: 700;
				color: $white;
				width: 100%;
			}

			p {
				color: $white;
				margin: 0 auto;
				text-align: center;
				margin-bottom: 30px;
			}

			a {
				&.btn {
					width: 80%;
					height: 35px;
					padding: 5px;
					text-align: center;
					margin: 0 auto;
				}

				&.more {
					color: $white;
					margin: 0 auto;
				}
			}
		}
	}
}

.handle {
	width: auto;
	color: $white;
	box-sizing: border-box;
	padding: 20px;	
	cursor: pointer;
	display: none;
	margin-bottom: 20px;

	.mobile-icon {
		float: right;
		padding-top: 5px;

		.line {
			height: 2px;
			width: 20px;
			background-color: $white;
			margin: 4px 0px;

			&:nth-child(1) {
				margin-top: 0px;
			}

			&:nth-child(3) {
				margin-bottom: 0px;
			}
		}

	}

}

nav {
	&.topnav {
		ul {
			display: block;
			float: right;
			
			li {
				float: left;

				a {
					padding: 10px 5px;
					font-size: 13px;
					line-height: 18px;
				}
			}
		}
	}
}

.site-navigation {
	background-color: $primarycolor;
}

nav {
	ul  {
		&.main-nav {
			overflow: hidden;
			color: $secondarycolor;
			font-size: 0px;
			transition: max-height 0.4s;
			text-align: right;

			li {
		 		display: inline-block;
		 		padding: 0px;
		 		font-size: 18px;
		 		text-transform: uppercase;
		 		&:last-child {
		 			a {
		 				padding-right: 0px;
		 			}
		 		}

		 		&.menu-item-has-children {
		 			a {
		 				&:after {
						    border-color: $secondarycolor transparent transparent;
						    border-radius: 3px;
						    border-style: solid;
						    border-width: 5px 5px 0;
						    content: '';
						    display: inline-block;
						    height: 0;
						    margin: 0 0 3px 6px;
						    position: relative;
						    top: 1px;
						    width: 0;
		 				}
		 			}

		 			ul {
		 				&.sub-menu {
		 					width: 160px;
		 					background-color: $secondarycolor;

		 					li {
		 						text-align: center;
		 						width: 100%;
		 						a {
		 							&:after {
		 								content: none;
		 							}
		 						}
		 					}
		 				}
		 			}
		 		}
		 		
		 		a {
		 			display: block;
		 			padding: 15px 20px;
		 			color: $secondarycolor;
		 			transition: all ease-in-out 125ms;

		 			&:hover,
		 			&:focus,
		 			&:active {
		 				color: $secondarycolor;
		 			}

		 		}

		 		&.current-menu-item,
		 		&.current-menu-ancestor {
					a {
						font-weight: 600;
					}
				}
		 	}
		}
	}
}

.main-content {
	padding: 70px 0px;

	article {
		margin-bottom: 20px;

		ul {
			list-style-type: disc;
			margin-left: 20px;
		}
	}

	.sidebar {
		display: inline-block;

		.widget {
			margin: 20px 0px;
			padding: 20px;
			background: darken($white, 5%);

			.widgettitle {
				font-size: 22px;
			}

			&:nth-child(1) {
				margin-top: 0px;
			}
		}
	}
}


.widget_rby_social {
	ul { 
		margin-top: -10px;

		li {
			margin-bottom: 10px;

			&:nth-child(1) {
				margin-top: 10px;
			}

			a {
				i {
					color: $primarycolor;
					background: $white;
					width: 20px;
					height: 20px;
					border-radius: 200px;
					margin-right: 5px;
					text-align: center;
					line-height: 20px;
					display: inline-block;
					transition: all ease-in-out 125ms;

				}
			}

			&.twitter {
				a {
					&:hover,
					&:focus,
					&:active {
						i {
							background: #55ACEE;
							color: $white;
						}
					}
				}
			}

			&.facebook {
				a {
					&:hover,
					&:focus,
					&:active {
						i {
							background: #3B5998;
							color: $white;
						}
					}
				}
			}

			&.instagram {
				a {
					&:hover,
					&:focus,
					&:active {
						i {
							background: #E12F67;
							color: $white;
						}
					}
				}
			}

			&.linkedin {
				a {
					&:hover,
					&:focus,
					&:active {
						i {
							background: #007bb5;
							color: $white;
						}
					}
				}
			}

			&.googleplus {
				a {
					&:hover,
					&:focus,
					&:active {
						i {
							background: #CC3732;
							color: $white;
						}
					}
				}
			}

			&.youtube {
				a {
					&:hover,
					&:focus,
					&:active {
						i {
							background: #CD201F;
							color: $white;
						}
					}
				}
			}

			&.email {
				a {
					&:hover,
					&:focus,
					&:active {
						i {
							background: #636363;
							color: $white;
						}
					}
				}
			}

			&.rss {
				a {
					&:hover,
					&:focus,
					&:active {
						i {
							background: #f26522;
							color: $white;
						}
					}
				}
			}
		}

		&.large-icons {
			i {
				width: 45px;
				height: 45px;
				line-height: 43px;
				font-size: 25px;
				margin-right: 15px;
				margin-bottom: 10px;
				float: left;
			}
			.title {
				display: none;
			}
		}

		&.small-icons {
			i {
				width: 25px;
				height: 25px;
				line-height: 25px;
				font-size: 15px;
				margin-right: 5px;
				margin-bottom: 10px;
				float: left;
			}
			.title {
				display: none;
			}
		}
	}
}



footer {
	background-color: $primarycolor;
	color: $white;

	&#colophon {
		background-color: $secondarycolor;
		border-top: 1px solid $primarycolor;
	}

	&.site-footer {
		padding: 40px 0;
		position: relative;
	}

	p {
		color: $white;
		font-size: 14px;
		line-height: 1.5;
	}

	a {
		color: $white;
		font-size: 14px;
		text-decoration: underline;
		
		&:hover,
		&:focus,
		&:active {
			color: $white;
			text-decoration: underline;
		}
	}
	.widget_media_image {
		width: 250px;
		height: 250px;
		@include border-radius(100%);
		overflow: hidden;
		line-height: 250px;
		text-align: center;
		display: inline-block;
		position: relative;

		img {
			max-width: none !important;
			height: auto !important;
			position: relative;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	.sidebar {
		margin-top: 20px;

		.widget {

			.widgettitle {
				font-size: 26px;
				margin-bottom: 30px;
				color: $white;
				font-weight: 500;
			}


		}
	}

	.site-info {
		padding-top: 20px;
	}

	.credits {
		padding-top: 20px;
		text-align: right;

		a:hover {
			color: $steunkleur;
			text-decoration: none;
		}

	}
	
	#social {
		text-align: center;

		li {
			display: inline-block;
			margin: 0px 5px;
			a{
				display: inline-block;
				width: 30px;
				height: 30px;
				text-align: center;
				line-height: 30px;
				background: $primarycolor;
				@include border-radius(200px);

				&:hover {
					background: $steunkleur !important;
				}


			}

			// &.facebook a{
			// 	background: #3B5998;
			// }
			// &.twitter a{
			// 	background: #55ACEE;
			// }
			// &.instagram a{
			// 	background: #E12F67;
			// }
			// &.linkedin a{
			// 	background: #007bb5;
			// }
			// &.youtube a{
			// 	background: #CD201F;
			// }
		}
	}
}

nav {
	&.footernav {
		ul {
			display: block;
			float: right;
			margin: 0;
			
			li {
				float: left;

				a {
					padding: 10px 5px;
				}
			}
		}
	}
}

nav {
	&#pager {
		.page-numbers {
			background: lighten($secondarycolor, 25%);
			display: inline-block;
			width: 30px;
			height: 30px;
			text-align: center;
			line-height: 30px;
			border-radius: 5px;
			color: $white;
				transition: all ease-in-out 125ms;

			&.current {
				background: $primarycolor;
				color: $white;

				&:hover,
				&:focus,
				&:active {
					background: $primarycolor;
				}
			}

			&.next {
				width: auto;
				padding: 0 10px;
			}

			&.prev {
				width: auto;
				padding: 0 10px;
			}

			&:hover,
			&:focus,
			&:active { 
				text-decoration: none;
				background-color: #666;
			}
		}
	}
}

@media screen and (max-width: 1200px) {
	nav ul.main-nav li a {
		padding: 12px;
		font-size: 13px;
	}
}

@media screen and (min-width: 992px) { 

	nav {
		ul  {
			&.main-nav {
				li {
			 		display: inline-block;

			 		&.menu-item-has-children {
			 			ul {
							display: none;
							position: absolute;
							z-index: 1;
			 			}

						&:hover,
						&:focus,
						&:active {
			 				ul {
			 					&.sub-menu {
			 						transition: all ease-in-out 125ms;
			 						display: block;
			 						position: absolute;
									z-index: 1;
								}
			 				}
			 			}
			 		}

			 	}
			}
		}
	}
}


@media screen and (max-width: 767px) {
    .services {
        
        .services-circle {
            .service {
                .service-contents-wrapper {
                    opacity: 1;
                }
            }
        }
    }
    .btn {
        margin-bottom: 5px;
        width: 90%;
    }
    
    
    .home-header {
        .actie-tekst {
            .tekst {
                width: 100%;
            }
            .button {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 991px) {
	.handle {
		display: block;
	}

	#masthead {
		text-align: center;
		.site-title {
			text-align: center;
			a {
				text-align: center;
			}
		}
		.contact {
			text-align: center;
		}
	}


	.services {
		.services-list {
			flex-wrap: wrap;
			.widget {
				min-width: 48%;
				margin-bottom: 4%;
			}
		}
	}

.site-navigation-inner.col-md-12 {
	padding: 0px;
}
		nav {
			ul.main-nav {
				max-height: 0px;
				margin-top: 0px;
				margin-bottom: 0px;
				text-align: center;

				&.show {
					max-height: 50em;
					overflow: hidden;
					font-size: inherit;
				}

				li {
					width: 100%;

					&.menu-item-has-children {
						ul {
							 clear: both;

							&.sub-menu {
								padding-bottom: 0px;
								width: 100%;

								li { 
									text-align: left;
									padding-left: 20px;
									padding-right: 20px;

									a {
										width: 100%;

										&:hover {
											background: transparent;
										}
									}

									&:hover {
										background: $secondarycolor;
									}
								}
							}
						}
					}
					&.current-menu-parent {
						background: transparent;
					}
				}
			}


			&.footernav {
				display: none;
			}
		}

	footer .credits {
		text-align: center;
		padding-top: 0px;
	}

	.site-info {
		text-align: center;
	}

	.header {
		height: 200px;
	}

	#frontslide {
		height: 400px;

		.slides{
			height: 400px;

			li {
				height: 400px;
			}
		}
	}
}


@media screen and (max-width: 991px) {
    .site-title {
        margin: 0 auto;
        max-width: 90%;
    }   
    
}

@media screen and (max-width: 499px) {

	#frontslide {
		height: 250px;

		.slides{
			height: 250px;

			li {
				height: 250px;
			}
		}
	}
	h1 {
		font-size: 32px;
	}
	.services {
		.services-list {
			flex-wrap: wrap;
			.widget {
				min-width: 80%;
				margin-bottom: 4%;
				margin-left: 10%;
				margin-right: 10%;

				p {
					display: none;
				}
			}
		}
	}

	footer .sidebar {
		.widget .widgettitle {
			font-size: 20px;
			margin-bottom: 15px;
		}
	}
}


@media screen and (max-width: 321px) {

	#frontslide {
		height: 250px;

		.slides{
			height: 250px;

			li {
				height: 250px;
			}
		}
	}
	h1 {
		font-size: 26px;
	}

	footer .sidebar {
		.widget .widgettitle {
			font-size: 18px;
			margin-bottom: 15px;
		}
	}
}

// Remove if the biggest size is to big
@media screen and (min-width: 1500px) {
  .container {
    width: 1400px;
  }
}

// RETINA
@media  only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {
// Add special classes of img here

}